
h1 	{font-family:FORTE;
    font-size:40px;
    color:#FF0099;}

p {font-family: cursive;
    font-size: 18px;}

li{font-family:FORTE;
    font-size: 30px;
   color:#FF0099;}

img {width: 440px; height: 200px;
    border: 5px solid #000;
    position:relative;
    left: 350px;}





